body {
	margin: 0;	
	background-size:cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;
	overflow-x:hidden;
}



.fadeBg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
	background: rgb(96,108,136); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
#navLinks ul {
	font-size:22px;
	color:white;
	position:absolute;
	right:0;
	top:calc(50% - 125px);
	height:250px;
	list-style-type:none;
	margin:0;
	padding-left:0;
	
}

#navLinks ul li {
	
	text-align:center;
	width:150px;
	padding-right:15px;
	padding-left:20px;
	margin: 12px 0;
	transition: 0.15s all;
	position:relative;
	left:1px;
}
.leftSlant {	
	-webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}


#navLinks ul li:hover {
	cursor:pointer;
	background-color:white;	
	color: rgb(96,108,136); 
}

#navLinks ul li.selected {
	background-color:white;
	color: rgb(96,108,136); 
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
