#portfolio {
	position:relative;
}

#portfolio .featured {
}

ul {
	list-style-type:none;
	padding:0; margin:0;
}

.item {
	padding-bottom:150px;
}

.item a, .item a:visited, .item a:hover {
	text-decoration:none;
	color:black;
}

.item .title {
	font-size:25px;
}


