{% load static %}
{% block head %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link rel='stylesheet' href='/static/css/blog.css' />
	<script src='{% static "js/jquery-1.11.0.min.js" %}'></script>

	<script type='text/javascript' src='/static/js/blog.js'>
	
	</script>
</head>
<div id="top"></div>
{% endblock %}
<html>
<div id="mainContainer">
	{% block content %}
	<div id="blogList">
		<h1> 

			Hello! I play and create video games, especially VR games, and am also a VR evangelist and work in the virutal enterprise space. 
	</h1>
		<ul>
		{% for blog in blogs %}	
			<li> {{blog.date}}: <a href="/blog/{{blog.url}}">{{blog.title}}</a></li>
		{% endfor %}
		</ul>
	{% endblock %}
	</div>
	{% block footer %}
	<div id="footer">
			<a href="/">vannorman.com</a>
		</div>

	{% endblock %}

</div>
</html>

