{% load static %}
	<head>
		<title> Charlie	Van Norman 2.0</title>
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_z.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		<link rel='stylesheet' href="static/css/home.css"|add:version|safe type='text/css'>
	{% endblock %}

	{% block scripts %}
<!--		<script src='static/js/home2.js'|add:version|safe ></script> -->
	{% endblock %}
	</head>
<body>

<div id="top">
    <div id="portrait"></div>
    <h1 id='name2'> Charlie Van Norman </h1>

</div>
<div id="intro2"> 
    <p> I build teams, solve fun problems, and produce full stack applications </p>
    <p> Vertical interests: Real Estate | 3D Software | EdTech </p>
</div> 
<div id="content">
    <h2> Regenerative Living</h2>
    <p> How we live and work is changing: a central building with amenities and coliving, surrounded by additional private dwellings. These new developments offer the opportunity for equitable ownership and regenerative practices, as well as an affordable, remote paradise enabled by Starlink.</p>
    <br>    <p> I invest, develop, syndicate, consult, and build applications for real estate projects. Pictured below are two of my portfolio projects in Puerto Rico, Mana Retreat Center and Mana Ranch.</p>
    <div class="bar green"></div>
    <div class="bar"></div>
    <div class="container">
        <div class="tile">
            <img src="/static/img/mana1.jpg" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/C72B41/9F2234" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/800834/66062A" alt="">
        </div>
    </div>
    <div class="bar"></div>
    <div class="bar green"></div>
    <h2> Regenerative Living</h2>
    <p> I am an investor and developer of micro-campuses across the U.S. and Latin America. The way humans live and work is changing; remote, Starlink enabled villages are popping up everywhere. Especially interesting to me is the equitable, fractional ownership models available, and the opportunity to design regenerative spaces for the ecosystem and for our selves, our work, and our relationships.</p>
    <div class="container">
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/EE4540/BE3733" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/C72B41/9F2234" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/800834/66062A" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/530332/420228" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/2E122D/2A021A" alt="">
        </div>
    </div>
</div>







