{% load static %}
	<head>
		<title> Charlie	Van Norman 2.0</title>
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_z.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		<link rel='stylesheet' href="{% static 'css/home2.css' %}" type='text/css'>
	{% endblock %}

	{% block scripts %}
<!--		<script src='static/js/home2.js'|add:version|safe ></script> -->
	{% endblock %}
	</head>
<body>

<div id="top">

</div>
<div id="content">
    <h1> Charlie Van Norman </h1>
    <p> I build teams, solve fun problems, and produce  great products </p>
    <h2> 3D Games </h2>
    <div class="container">
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/EE4540/BE3733" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/C72B41/9F2234" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/800834/66062A" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/530332/420228" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/2E122D/2A021A" alt="">
        </div>
    </div>
    <div class="container">
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/EE4540/BE3733" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/C72B41/9F2234" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/800834/66062A" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/530332/420228" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/2E122D/2A021A" alt="">
        </div>
    </div>
</div>







