{% load static %}
	<head>
		<title> Charlie	Van Norman 2.0</title>
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_z.png" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		<link rel='stylesheet' href="static/css/home.css"|add:version|safe type='text/css'>
	{% endblock %}

	{% block scripts %}
<!--		<script src='static/js/home2.js'|add:version|safe ></script> -->
	{% endblock %}
	</head>
<body>

<div id="top">
    <div id="portrait"></div>
    <h1 id='name2'> Charlie Van Norman </h1>

</div>
<div id="intro2"> 
    <p> Hello! Welcome to my personal site, where I share some of my interests and business endeavors. I'm a builder and a founder who enjoys making awesome products and contributing to the good change in the world. I believe that my biggest lever of impact is through education and real estate, to gather people together and provide well-architected communication, so that we can be more aligned and prosper together. Incidentally my favorite Ted speaker Hans Rosling has changed my life with his approach to long-form statistics, showing that humanity is improving over all metrics despite our "bad news headlines". I see my place in this world as contributing to this positive trend as much as I can (and hopefully having some fun along the way!)</p>
</div> 
<div id="content">
    <h2> Regenerative Living</h2>
    <!--- <p> How we live and work is changing: a central building with amenities and coliving, surrounded by additional private dwellings. These new developments offer the opportunity for equitable ownership and regenerative practices, as well as an affordable, remote paradise enabled by Starlink.</p> -->
    <br>    <p> I invest, develop, syndicate, and consult in real estate. Pictured below are two of my portfolio projects in Puerto Rico, Mana Retreat Center and Mana Ranch.</p>
    <div class="bar green"></div>
    <div class="bar"></div>
    <div class="container">
        <div class="tile">
            <img src="/static/img/mana1.jpg" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/C72B41/9F2234" alt="">
        </div>
        <div class="tile">
            <img src="https://via.placeholder.com/800x600/800834/66062A" alt="">
        </div>
    </div>
    <div class="bar"></div>
    <div class="bar green"></div>
    <h2> Full Stack Applications </h2>
    <p> I build applications, visualizations, and video games. Here are some of my works: </p>
    <div class="apps">
	    {% for item in works %}
			<div class="appBox">
				<div class="app">
					<h3> {{ item.title }} </h3>
					<div class="video">
						<iframe src="{{item.video.source}}?h=5204f730dc&title=0&byline=0&portrait=0" width="320" height="165" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>	
					</div>

				</div>

			</div>
				
        {% endfor %}
            
    </div>
</div>







