{% load static %}
<style> .img { background-size:cover; width:1000px; height:600px; margin: 20 auto; } </style>
<html><body>
<div id="main">
    <div class="img" style="background-image:url('/static/img/lotus/1.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/2.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/3.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/4.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/5.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/6.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/7.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/8.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/9.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/10.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/11.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/12.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/13.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/14.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/15.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/16.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/17.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/18.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/19.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/20.jpg')"></div>
    <div class="img" style="background-image:url('/static/img/lotus/21.jpg')"></div>
</div>
</body></html>


