{% extends "blogbase.html" %}	
{% block content %}
	<span id="customBackgroundPointer" href="/static/img/spacefrog_background.jpg"></span>
	<div id="mainContainer">
		<div id="main">
			<h1> Space Frog VR </h1>
			<p>
				In 2017, a few short months after discovering VR, I met Alex Goldman. We were both peresenting our VR prototypes at a small event in San Francisco. I had made a cube punching game, and he had made a cube dodging game -- needless to say, we became immediate friends, and soon after began working on what would become SpaceFrogVR.
			</p>

			<h2> The Story</h2>
			<p class="left"> 
				The year is 41206. Thousands of years ago, an eccentric billionaire had launched his red roaster into orbit, which was stuffed with .. frogs (as a science experiment). The frogs were hit with a cosmic ray which imbued them with superintelligence and they took over the entire Milky Way, challenged only by the Klurxons, a race of aliens that absorb other species and reorganize their bodies and technologies into weapons.
			</p>

			<p> Space Frogs have a tradition of Warrior Princesses who fight threats from outer space. You play as the princess of the current generation, and your prince has been captured by the Klurxons! You must rescue him by punching your way through the Klurxon fleet while avoiding their attacks (defining the core mechanics of the game, Punching and Dodging.)
			</p>
			<p> Needless to say this is one of, if not the most fun game I've ever worked on!</p>
			
		<h2> VR Active Game </h2>
			<p> 
				One of the most interesting aspects about VR as a medium is the connection between player and physical space. The Wii started to do this a little bit, but VR really takes it to another level!
				<ul>
					<li> Players must execute a "straight punch" in order to attack.
					<li> Players move throughout the entire ~2x3 meter capture zone to dodge obstacles.
					<li> Players duck, dart, and sometimes even jump to avoid obstacles.
					<li> Everyone who plays the game seriously gets winded and will prespire from exertion.
				</ul>
			
				This stuff just simply wasn't possible with PC or console games before! 
							



		</div>
	{% endblock %}


